/target
/.idea
.DS_Store
*.iml
*.zip
raw_queries.txt
datasets/medium/medium_articles.csv
datasets/hotels/Hotel_Reviews.csv
datasets/ny-times/nyt-articles-2020.csv
datasets/nyt/nyt.csv
*.TAG
examples/target
examples/*/target
datasets/*/clean-sorted.csv
datasets/email/emails.csv
